<ion-content >

  <ion-card-content  >
    <icon-card class="logo">
      <img width="550px" height="275px" src="assets/registrApp_duocUc.png" class="ion-padding">
    </icon-card>
    <ion-card-content>
        <p>¡La app para registrar tu asistencia!
     </p>
    </ion-card-content>
    <ion-button color="warning" type="submit" expand="block" 
    routerLink="/login" expand="full">Ingresar</ion-button>
    <ion-button color="warning" type="submit" expand="block" 
    routerLink="/create" expand="full">Registrarse</ion-button>
  </ion-card-content>
  
  
  </ion-content>
  
  