<ion-header class="ion-padding">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-title >Bienvenido, Profesor/a  </ion-title>
    <ion-card>
    <icon-card class="logo">
      <img width="450px" height="225px" src="assets/registrApp_duocUc.png" class="ion-padding">
    </icon-card>
    </ion-card>
  
  
  
    <ion-button (click)="nextpage()"  expand="block">QR</ion-button>
    <ion-button class="boton"  expand="block">Registar Sección</ion-button>
    <ion-button class="boton"  expand="block">Ver Horario</ion-button>
    <ion-button class="boton"  expand="block">Revisar Justificaciones</ion-button>
  
  </ion-content>
  

</ion-content>

