<ion-header class="ion-padding">
  <ion-toolbar class="titulo">

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content>
    <ion-title>Bienvenido , buen día!! </ion-title>

    <ion-card>

      <icon-card>
        <img width="450px" height="225px" src="assets/registrApp_duocUc.png">
      </icon-card>

    </ion-card>
    <ion-button (click)="nextpage()"  expand="block">QR</ion-button>
    <ion-button expand="block">Ver Horario</ion-button>
    <ion-button expand="block">Ver Asistencias</ion-button>
    <ion-button expand="block">Mensajes</ion-button>

  </ion-content>


</ion-content>