<ion-header>
  <ion-toolbar>  
     <ion-buttons slot="primary" class="boton">
      <ion-button fill="solid" class="boton" routerLink="/home" (click)="btnClicked()" >
        Salir
        <ion-icon class="icono" slot="end" name="exit-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hola!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
  <icon-card class="logo">
    <img width="450px" height="225px" src="assets/registrApp_duocUc.png" class="ion-padding">
  </icon-card>
  </ion-card>




  <ion-button expand="block">Registrar asistencia</ion-button>
  <ion-button expand="block">Ingresar Codigo</ion-button>
  <ion-button expand="block">Ver Horario</ion-button>
  <ion-button expand="block">Ver Justificaciones</ion-button>
  <ion-button expand="block">Ver Asistencias</ion-button>
  <ion-button expand="block">Mensajes</ion-button>

</ion-content>
