<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="boton">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        class="boton"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Registrate!</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    <ion-list-header>
      <ion-label class="label">Ingresa tus datos </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label class="label" position="floating">Nombre </ion-label>
      <ion-input  type="text" placeholder="Fulano De tal"
                 name="nombre" [(ngModel)]= "usuario.nombre" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label"  position="floating">Email Institucional </ion-label>
      <ion-input type="email" placeholder="email"
                 name="email" value="" [(ngModel)]= "usuario.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label"  position="floating">Ingresa tu contraseña </ion-label>
      <ion-input type="new-password" placeholder="Contraseña"
                 name="first_password" value="" [(ngModel)]= "usuario.first_password"
                 required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label"  position="floating">Reingresa tu contraseña </ion-label>
      <ion-input type="password" placeholder="Repite Contraseña"
                 name="password" value="" [(ngModel)]= "usuario.password"
                 required>
      </ion-input>
    </ion-item>


    <ion-button color="warning" [disabled] ="formulario.invalid"
    type="submit" expand="block" routerLink="/login-alumno">
      ALUMNO
    </ion-button>
    <ion-button color="warning" [disabled] ="formulario.invalid"
    type="submit" expand="block" routerLink="/login-docente">
      DOCENTE
    </ion-button>
    <ion-button color="danger" 
    type="submit" expand="block" routerLink="/home">
      CANCELAR
    </ion-button>
    

  </form>
</ion-content>