<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Uso de app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button class="botonAyuda" expand="block">¿Cómo Registrarse?</ion-button>
  <ion-button class="botonAyuda" expand="block">¿Cómo Ingresar a tu cuenta?</ion-button>
  <ion-button class="botonAyuda" expand="block">¿Cómo Recuperar contraseña?</ion-button>
  <ion-button class="botonAyuda" expand="block">¿Cómo Registrar asistencia?</ion-button>
  <ion-button expand="block">No encuentras lo que buscas</ion-button>
</ion-content>
