.botonAyuda {
    color: #f8b31c;

}

.botonExcepcion {
    color: #f8b31c;
    background-color:#f8b31c;
    border-color: #f8b31c;
    border-radius: 5px;
}

ion-button {
    --background: #01213e;
    --background-activated: #01213e;
    --background-activated-opacity: 1;
    --background-focused: #01213e;
    --background-hover: #01213e;
    --border-color: #01213e;
    --color: #334952;
    --color-activated: #334952;
    --color-focused: #334952;
    --color-hover: #334952;
   
}