<ion-header>
  <ion-toolbar>
    <ion-title>Crear QR</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="ion-text-center">
  <ion-card-content>
    <ion-item>
      <ion-label position="fixed">Asignatura:</ion-label>
      <ion-select placeholder="Asignatura" [(ngModel)]="lista.asignatura">
        <ion-select-option></ion-select-option>
        <ion-select-option>PGY4121_008V</ion-select-option>
        <ion-select-option>PGY4121_007V</ion-select-option>
        <ion-select-option>PGY4121_006V</ion-select-option>
        <ion-select-option>PGY4121_005V</ion-select-option>
        <ion-select-option>PGY4121_004V</ion-select-option>
        <ion-select-option>PGY4121_003V</ion-select-option>
        <ion-select-option>PGY4121_002V</ion-select-option>
        <ion-select-option>PGY4121_001V</ion-select-option>
        <ion-select-option>PGY4121_011D</ion-select-option>
        <ion-select-option>PGY4121_012D</ion-select-option>
        <ion-select-option>PGY4121_013D</ion-select-option>
        <ion-select-option>PGY4121_014D</ion-select-option>
        <ion-select-option>PGY4121_015D</ion-select-option>
        <ion-select-option>PGY4121_016D</ion-select-option>
        <ion-select-option>PGY4121_017D</ion-select-option>
        <ion-select-option>PGY4121_018D</ion-select-option>
        <ion-select-option>PGY4121_019D</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-datetime [(ngModel)]="lista.fecha" locale="es-CL"></ion-datetime>
    
    <ion-button (click)="GenerarQr()" expand="block" fill="clear" shape="round">
      Cenerar QR
    </ion-button>

    <qrcode
    [qrdata]="qrCodeString"
    [width]="236"
    [errorCorrectionLevel]="M">
    </qrcode>
    <ion-button (click)="verQr()" expand="block" fill="clear" shape="round">
      Ver QR
    </ion-button>

    <ion-item>
      <ion-label class="ion-text-wrap">Scan Result: {{scannedResult}}</ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>


</ion-content>
