<ion-header class="boton">
  <ion-toolbar>
    <ion-buttons class="boton" slot="start">
      <ion-button  (click)="mostrarMenu()">
        <ion-icon class="boton" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-title class="titulo">RegitrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img  width="100px" height="100px"  src="assets/logo.png" class="ion-padding">

  <icon-card class="logo">
    <img width="550px" height="275px" src="assets/registrApp_duocUc.png" class="ion-padding">
  </icon-card>
  <ion-card-content>
      <p>¡La app para registrar tu asistencia!
   </p>
  </ion-card-content>
</ion-card>
</ion-content>
