<ion-header>
  <ion-toolbar>   
     <ion-buttons slot="primary">
      <ion-button fill="solid" routerLink="/home" (click)="btnClicked()" >
        Salir
        <ion-icon class="icono" slot="end" name="exit-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Hola!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
  <icon-card class="logo">
    <img width="450px" height="225px" src="assets/registrApp_duocUc.png" class="ion-padding">
  </icon-card>
  </ion-card>

  <ion-button class="boton" expand="block">Obtener Codigo QR</ion-button>
  <ion-button class="boton"  expand="block">Generar Codigo Numerico</ion-button>
  <ion-button class="boton"  expand="block">Registar Sección</ion-button>
  <ion-button class="boton"  expand="block">Ver Horario</ion-button>
  <ion-button class="boton"  expand="block">Revisar Justificaciones</ion-button>
  <ion-button  class="boton" expand="block">Ver Secciones</ion-button>
  <ion-button  class="boton" expand="block">Mensajes</ion-button>

</ion-content>
