<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="volver" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-content fullscreen>
    <ion-card>
      <img src="assets/registrApp_duocUc.png" />
      <ion-card-header>

        <ion-card-title>Acerca de esta app</ion-card-title>
        <ion-card-subtitle>
          Esta app fue creada con el fin de facilitar el registro de la asistencia a clases, tambien tiene incluido un sistema de mensajeria, asi como un sitema para ver las solicitides o reclamos de asistencias
        </ion-card-subtitle>
        <ion-card-subtitle>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt quam nemo, inventore nisi perferendis, quia
          ea esse nobis modi illum nam dolore officiis libero recusandae hic, magnam quo impedit tempora magni! Autem
          maiores iure esse? Adipisci quis autem quibusdam architecto accusamus dicta asperiores provident, rerum,
          maiores eveniet maxime recusandae tenetur unde voluptate est ipsum magni? Nesciunt eius asperiores, laudantium
          a illo alias molestias omnis dolores inventore quasi totam voluptate quisquam nulla expedita similique error
          blanditiis ut, quibusdam deleniti et, numquam natus quod temporibus esse! Praesentium, unde. Numquam, cumque.
          Error recusandae inventore eum. Corrupti labore sunt officiis facilis delectus asperiores corporis minus quas
          deserunt, totam eligendi quo harum ipsam, eos repellendus praesentium ratione? Numquam voluptatum
          exercitationem eaque vero ab doloribus ducimus quos quibusdam sint adipisci. Praesentium fuga aliquid commodi
          nostrum sint, at provident voluptatibus optio a! Dicta delectus corporis provident, deserunt consequuntur
          repellendus sint! Neque, aut, ipsum impedit ad est rem placeat id nisi commodi tempore repudiandae possimus
          animi, fuga sapiente mollitia sequi consectetur temporibus nostrum dolorem delectus iure! Tempore praesentium
          perspiciatis at cum ab odit, obcaecati libero, eaque saepe exercitationem iusto tenetur? Excepturi debitis
          officiis perferendis suscipit, qui, quibusdam sit placeat quisquam accusamus nulla id ullam asperiores iure
          unde. Optio veritatis odio inventore, facilis ut sint alias corporis vel neque veniam quis beatae, harum vitae
          suscipit. Suscipit placeat cum quidem accusamus neque. Ipsa molestiae tenetur iure rem consectetur magnam
          excepturi porro eaque quibusdam eligendi assumenda laborum aut, quisquam molestias minus temporibus modi
          corrupti. Adipisci quas, facilis aliquam esse quidem commodi earum officia maxime eligendi qui! Est et impedit
          atque autem, maxime itaque ex optio temporibus, non totam voluptatem assumenda cum fuga? Quas maxime
          recusandae itaque repellendus molestiae impedit alias. Deleniti nam quas error cum inventore voluptatem
          corporis quaerat, quod incidunt voluptate alias asperiores distinctio atque dignissimos ullam. Laudantium
          voluptatibus aut, aspernatur cumque pariatur ipsum iste, minima et corrupti, error laboriosam esse itaque
          neque odio facere repellat soluta nostrum atque quaerat repellendus accusamus iure omnis! Magni fugiat nisi
          iste optio, dolorem neque eius odit aperiam velit minus architecto labore, delectus cum quae maiores nam
          repellat animi. Quisquam deserunt ex rerum maiores et natus suscipit quia assumenda nobis. Porro consequatur
          illo, libero ut natus quam ad amet tenetur eius incidunt molestiae culpa, voluptatibus obcaecati adipisci
          corrupti delectus at vitae assumenda odio iure. Eum est laudantium vero, blanditiis perspiciatis modi eligendi
          commodi nisi quidem nostrum accusamus ab quia repellat ipsum eveniet porro in itaque. Nostrum, a distinctio
          deserunt magni fugiat ex reprehenderit exercitationem. Praesentium fugiat nam explicabo rerum culpa earum
          numquam ab aut eligendi, maxime pariatur nobis ratione doloribus cum, aspernatur veniam! Nisi reprehenderit
          modi exercitationem ab tempore adipisci ea nulla, a vero ducimus sit asperiores provident cupiditate possimus
          eum nam, magni magnam quaerat blanditiis, optio facere incidunt. Nisi velit id veniam temporibus, suscipit
          quae? Perspiciatis animi adipisci temporibus fugiat incidunt corporis sapiente totam harum? Sapiente,
          blanditiis. Dolor cum odit blanditiis voluptatum dolores dicta necessitatibus voluptate accusamus! Quibusdam,
          in? Provident qui nemo, mollitia eligendi illo aliquid doloribus et nulla corporis nobis delectus porro nisi
          ipsa debitis! Laboriosam quod magni, consequuntur eum suscipit ea voluptatum omnis corrupti quaerat assumenda
          ab, ipsam distinctio. Quia fugit architecto, minima voluptatum et quis deserunt rerum. Qui, laboriosam
          eligendi quos quia quod unde, sapiente, sed pariatur officiis molestiae tenetur tempore rerum vel quibusdam.
        </ion-card-subtitle>
      </ion-card-header>


    </ion-card>
  </ion-content>


</ion-content>